.services-overview {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
  
  }

  .services-section{
    margin-bottom: 80px;
    flex-direction: column;
    margin-top: 50px;
    display: flex;
    
}

.main-image{
  overflow: hidden;
}

.services-background-image {
    position: absolute;
    height: 550px;
    width: 100vw;
    pointer-events: none;
    z-index: -1;
    object-fit: cover; /* Ensures the image maintains its aspect ratio */
}

.services-content{
    flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services-content h2{

    color: white;
    margin: 0 auto;
    margin-top: 24px;
    z-index: 1;
}

.services-content .service-list{
    color: white;
    text-align: left;
}
  
 
 
  .services-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  


.services-content a{
  text-decoration: none;
}

  .services-list {
    display: flex;
    flex-direction: column;
  
    margin-bottom: 50px;
    margin-left: 10%;
  }
  
  .service-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
  }
  
 
  
  
  .service-text h3 {
    font-family: var(--primary-font);
 
    
    color: #ffffff;
    margin-bottom: 8px;
    transition: color 0.3s ease;

  }
  
  .service-text p {
    font-family: var(--secondary-font, 'Arial', sans-serif);
    font-size: 1.12rem;
    font-weight: 400;
    color: #e6e2e2;
    margin: 0;
    transition: color 0.3s ease;

  }



  
  
  .service-arrow {
    color: white;
    transition: all 0.3s ease;
    opacity: 0.7;
    margin-right: 50%;
  
  }
  
  .service-item:hover .service-arrow {
    opacity: 1;
   
  }

  .service-item:hover .service-text h3 {
    opacity: 1;
    color: var( --link-hover-color);
   
  }
  
  .service-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    color: white;
    transition: width 0.3s ease;
    width: 50%;
    background: white;
  }
  
  .see-more-button {
    align-self: center;
    width: 12.5rem ;
    height: 3.438rem;
    font-size: 1.4rem ; 
    z-index: 1;
    
  }
  
  .mobile-service-overlay{
    background-color: rgba(0, 0, 0, 0.5) !important;
    width: 100%;
    height: 100%;
    position: absolute;

 
  }
 
  @media (max-width: 800px) {
    .see-more-button{
      z-index: 1;
    }
    .services-background-image {
       height: 600px;
    }
    .services-list {
    
      margin-bottom: 50px;
      margin-left: 0;
      margin-left: 20px;
      margin-right: 20px ;
  
    }
    .service-text p{
      white-space: nowrap;
    }
    .service-underline {
      width: 100%;
      
    }
    .service-arrow{
      margin-right: 0;
    }
    .services-content h2{
    z-index: 1;
    }
  

  }
 

  @media (max-width: 600px) {

    .service-text p{
      white-space: normal;
    }
    .mobile-service-overlay{
      background-color: rgba(0, 0, 0, 0.6) !important;
      width: 100%;
      height: 100%;
      position: absolute;
  
    }  

    
  }

