.success-section {
    display: flex;
    align-items: center;
    width: 100vw;

    height: 400px;
    margin: 0 auto;
    overflow: hidden;
 
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 200px;

  
  }
  
  .success-content {
    flex: 1;
    width: 50%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 80px;
    position: relative;
  }
  
  .success-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #002543;
    z-index: 1;
  }
  
  .success-content h2 {
    font-family: var(--primary-font);
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 60px;
    line-height: 1.2;
    position: relative;
    z-index: 2;
    max-width: 400px;
  }
  
  
  .success-content p {
    color: rgb(223, 223, 223) !important;
    position: relative;
    margin-bottom: 80px;
    z-index: 2;
    


  }


  .success-image {
    flex: 1;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .success-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    display: block;
  }
  
.mobile-success-image{
  display: none;
}
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .success-section {
      flex-direction: column;
      height: auto;
    }
    
    .success-content {
      width: 100%;
      margin-top: -1%;
      text-align: center;
      align-items: center;
 
    }
    
    .success-content h2 {
      font-size: 36px;
      margin-bottom: 40px;
      max-width: none;
    }
    
    .success-button {
      width: 12.5rem ;
      height: 3.438rem;
      font-size: 1.4rem !important;
    }

    .success-image{
      display: none;
    }
    .mobile-success-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
      display: block;
    }
    
    .mobile-success-image{
      display: block;
      flex: 1;
    width: 100%;
    height: 400px !important;
    overflow: hidden;
    }
  }
  
  @media (max-width: 500px) {
    .success-content {

      white-space: normal !important;
 
    }
    .success-section {
   
      margin-top: 0;
     
    }
    .mobile-success-image img{
 
      height:35vh !important;

    }

    

  }