.insights-page {
  min-height: 100vh;
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insights-header{
  margin: 0 auto !important;  
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  align-items: center;
  height: 390px;
  overflow: hidden;
}

.insights-overlay{
  background-color: rgba(0, 0, 0, 0.526) !important;
  width: 100%;
  height: 100%;
  position: absolute;


 }
.insights-header-title {
  position: absolute;
  top: 60%; /* Center vertically on the image */
  left: 50%; /* Center horizontally on the image */
  transform: translate(-50%, -50%); /* Perfect center alignment */

  color: #ffffff;
  margin: 0;
  text-align: center;
  
  /* Text styling for better visibility */
 
  letter-spacing: 2px;
  
}

.insights-img{
  object-fit:contain;
  position: absolute;
  width: 100vw;
 
  z-index: -1;
  display: block;
  
}

.insights-articles{
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 300px !important;
  width: 100vw !important;
}


/* For large desktop screens*/
@media (max-width: 501px) {
  .insights-articles{
  
     margin-top: 330px !important;

  }
 
}
