.contact-section {
    display: flex;
    align-items: center;
    width: 100vw;

    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 50px;
  }
  
  .contact-content {
    flex: 1;
    width: 50%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 80px;
    position: relative;
  }
  
  .contact-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #002543;
    z-index: 1;
  }
  
  .contact-content h2 {
    font-family: var(--primary-font);
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 60px;
    line-height: 1.2;
    position: relative;
    z-index: 2;
    max-width: 400px;
  }
  
  .contact-button {
    width: 200px !important;
    height: 55px !important;
    align-items: left;
   justify-content: left;
   margin: 0;

    font-size: 1.4rem;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  

  .contact-button a {
    color: white !important;
    text-decoration: none;
   
  }
  
  .contact-image {
    flex: 1;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .contact-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    display: block;
  }
  
.mobile-contact-image{
  display: none;
}
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .contact-section {
      flex-direction: column;
      height: auto;
    }
    
    .contact-content {
      width: 100%;
      margin-top: -1%;
      text-align: center;
      align-items: center;
 
    }
    
    .contact-content h2 {
      font-size: 36px;
      margin-bottom: 40px;
      max-width: none;
    }
    
    
    
    .contact-button {
      width: 12.5rem ;
      height: 3.438rem;
      font-size: 1.4rem !important;
    }

    .contact-image{
      display: none;
    }
    .mobile-contact-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
      display: block;
    }
    
    .mobile-contact-image{
      display: block;
      flex: 1;
    width: 100%;
    height: 400px !important;
    overflow: hidden;
    }
  }
  
  @media (max-width: 480px) {
    .contact-content {
      padding: 30px 15px;
      white-space: normal !important;
 
    }
    
    
    .contact-button {
      width: 160px;
      height: 55px;
      font-size: 16px;
    }
  }