.applications-click-card a{
  text-decoration: none;
}

.mobile-application-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 15px;
  text-align: center;
}

.mobile-application-content h2 {
  font-family: var(--primary-font, 'Arial', sans-serif);
  font-weight: 700;
  color: black;
  margin: 0 auto 15px auto;
  font-size: 20px;
}

.mobile-application-content p {
  font-family: var(--secondary-font, 'Arial', sans-serif);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: black;
  margin: 0 auto 20px auto;
  text-align: center;
}

.mobile-application-image-wrapper {
  overflow: hidden;
    aspect-ratio: 16 / 9;

}

.mobile-application-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.mobile-application-learn-more-button {
  width: 120px;
  height: 35px;
  box-sizing: border-box;
  border: 2.5px solid rgb(78, 78, 78);
  border-radius: 40px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 550;
}

.mobile-application-learn-more-button a:hover {
  color: var(--link-hover-two) !important;
}

.mobile-application-learn-more-button:hover {
  border: 2.5px solid var(--link-hover-two) !important;
}

.mobile-application-learn-more-button a {
  color: black !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}