.navbar {
  background: black;
  display: flex;
  position: sticky;
  z-index: 1001;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  
}

.navbar__icon {
  display: flex;
  align-items: center;
  transform: scale(1.3);
  padding: 0px;
  cursor: pointer;
  margin-left: 73px;
  margin-top: 20px;
  margin-bottom:20px;
  height: 50px;

}


.navbar__desktop-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 45px;
  margin-right: 75px;
}

.navbar__link {
  text-decoration: none;
  color: white;

  
}

.navbar__link:hover {
  
  color: #19C5FF !important;
}

.nav-contact-button{

  height: 42px ;
  width: 140px ;
  border: 1.5px solid white;

}


.nav-contact-button:hover {


  border: 1.5px solid var(--link-hover-color)
}


/* targets only the dropdown */
.MuiButtonBase-root,
#navEventsButton,
.navbar__desktop-menu,
.navbar__link {
  font-family: "DM Sans", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 14px;
  color: #181818;
}

 .navbar__desktop-menu-item .navbar__link{
  color: white;

  font-size: 22px;
  font-family: var(--primary-font);
}

.navbar__desktop-menu .navbar__desktop-menu-item a{
  color: white;
}


nav .dropdown-menu{
  top:0px;
  color: #181818;
  margin-top: 6px;

}  


#mobileEventTypeBtn,
#mobileEventCalBtn {
  font-style: italic;
  padding-left: 20px;
}

.navbar__menu-icon {
  padding-right: 4px;
}

/* adjust thickness of hamburger lines*/
.MuiSvgIcon-root[data-testid="MenuIcon"] {
  stroke-width: 0.005px;
  stroke: #181818; /* Maintains your current color */

}

@media screen and (max-width : 500px) {
  .navbar {
    position: fixed;

    
  }
  
  
}

@media screen and (max-width: 500px) {

  .navbar {
    height: 60px;
    width: 100%;
  }
 
  .navbar__icon {
    display: flex;
    align-items: center;
   
    padding: 0px;
    cursor: pointer;
    margin-left: 25px;
    transform: scale(1);

  }
}