#home_view{
  position: relative;
}

.main-hero{
  position: relative;
  height: 90vh;
  width: 100%;
  margin-bottom: 80px;
  top: 0 !important;
  right: 0 !important;
  overflow: hidden;
  
}

.intro-section {
  display: flex; 
  justify-content: center;
  width: 100vw;

}
.intro-section h1{
  font-family: var(--primary-font);
  font-size: var(--heading-desktop);
  width: 100%;
  padding-top: 10%;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;

}

.intro-section p{
  font-family: var(--secondary-font);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: var(--primary-white);
  width: 50%;
  
  margin: 0 auto;
  padding-top: 80px;
  line-height: 1.6;
  padding-bottom: 100px;

}

.background-img {
  position: absolute;
  top: 0;
  right: 0;
  max-height: 90vh;
  width: 100vw !important;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;

  
}


.learn-more-button {
  /* Positioning */
 
  /* Size */
  width: 250px;
  height: 65px;
  /* Styling */
  box-sizing: border-box;
  border: 4px solid #FFFFFF;
  border-radius: 40px;
  background-color: transparent; /* Zero opacity fill */

  
  /* Text styling */
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}



.learn-more-button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Subtle hover effect */
}

.learn-more-button a {
 color: #FFFFFF  !important;
 text-decoration: none;
}

.dark-overlay {
  position: absolute; /* Position over the image */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  /* background: linear-gradient(rgba(219, 219, 219, 0), rgba(0, 0, 0, 0.5)); */
  z-index: -1;
  
}


 .main-heading{
 
  text-align: center;
  padding-bottom: 2%;

   }

   .mobile-applications-section{
    display: none;
   }

.home-insights{ 
    margin-bottom: 80px;
  }

  .mobile-insights-section{
    display: none;
   }



@media (max-width: 1160px) {
  .intro-section h1 {
      width: 70%;
     
  }
  .intro-section p{   width: 80%; }

  
}


@media (max-width: 1250px) {
  
  .applications-section{
    margin-left: 50px;
    margin-right: 50px;
   }
   .insights-section{
    margin-left: 40px !important;
    margin-right: 40px;
  }
}

@media (max-width: 770px) {
  .intro-section h1 {
      line-height: 1.4;
      font-family: var(--primary-font);
      font-size: var(--heading-mobile);
     
  }
  .intro-section p {
      font-size:  var(--descriptions-tablet);
  }
 
  
}

/* For large desktop screens*/
@media (min-width: 2000px) {
  .intro-section p{
    padding-top: 150px;
    padding-bottom: 220px

  }
  .main-hero{
  
    
  }
  .background-img {
    height: 100vh !important;
  }
}

@media screen and (max-width: 899px){
  .background-img {
   
      
      margin-right: 0; /* No margin = flush against the right edge */
      right: 0; /* Ensure it's exactly at the right edge */

    }
}


@media screen and (max-width: 560px){

    .background-img {
      position: relative;
      top: 0;
      right: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    
    }
    .dark-overlay {
      display: none;
    }
    .intro-section p{
     padding-top: 20px;
     padding-bottom: 50px;
    }

    .intro-section h1{

     padding-top: 30px;
     margin: 0;
     margin-left: 35px;
     display: block;

    }

    .learn-more-button {
      /* Positioning */
     
      /* Size */
      width: 172px;
      height: 48px;
    }
    .mobile_background_card{
      top: 0;
      right: 0;
      z-index: -1;
      background-color: rgba(0, 0, 0, 1);
      height: 60vh;
      margin-top: -1%;
   
    }
    .main-hero{
      position: relative;
      height: 100vh;
      width: 100%;
      padding: 0;
      margin-bottom: none;
      top: 0 !important;
      right: 0 !important;
     overflow: visible;
    }
    .background-img {
 
      max-height: 40vh;
      width: 100vw !important;
      object-fit: cover;
      pointer-events: none;
      z-index: -1;
      padding: 0;

    }
  
   
   
}

@media screen and (max-width: 425px){
  .background-img {
    height: 30vh;
  }
  .mobile_background_card{
  
 
    height: 65vh;
    margin-top: -1.5%;

 
  }
}
@media screen and (max-width: 342px){
  .background-img {
    height: 20vh;
  }
  .mobile_background_card{
  
 
    height: 75vh;
    margin-top: -1.5%;

 
  }
  
}

@media screen and (max-width: 800px){
  .applications-section{
    display: none;
   }
   .mobile-applications-section{
    display: block;
    margin-right: 0 !important;
   }
   .mobile-insights-section{
    display: block;
    margin-bottom: 100px;
   }
   .home-insights-section{
    display: none;
   }
}