@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "minion-pro-regular";
  src: url("./assets/fonts/minion-pro-regular.ttf");
}
:root { 
  --primary-purple: #1f0834;
  --secondary-purple: #30123b;
  --primary-white: #ecf1f0;
  --secondary-white: #b6b6b6;
  --link-hover-color:#19C5FF;
  --link-hover-two :#0080b2;
  --primary-font: "minion-pro-regular", sans-serif;
  --secondary-font: "roboto", sans-serif;
  --tertiary-font: "PingFang-SC", sans-serif;
  --mobile-carousel-breakpoint: 708px;
  --heading-desktop :4rem;
  --sub-heading-desktop :2.5rem;
  --card-heading-desktop:2rem;
  --heading-mobile :40px;
  --h2-mobile:40px;
  --tab-mobile:24px;
  --descriptions-tablet: 25px;
  --descriptions-desktop: 20px
}


body {
  margin: 0;

  height: 100vh;
  overflow-y: scroll;

}

.bg-fixed {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: -1;
 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateZ(0); /* Force hardware acceleration */

}


main {

  margin: 0 auto;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin: 0;
}
h1 {
  font-size: 71px;
  font-size: var(--heading-desktop);
  font-style: normal;
  font-weight: 500;
  line-height: 77px;
  letter-spacing: -1.42px;
  color: var(--primary-white);
  max-width: 987px;
  font-family: var(--primary-font );
}

h2 {
  font-size: var( --sub-heading-desktop);
   font-family: var(--primary-font );
  font-style: normal;
  font-weight: 550;
  line-height: 44px;
}
h3 {
  font-size: var( --card-heading-desktop);
  font-style: normal;
  font-weight: 550;
  line-height: 1;
}

/* prevents floating footer*/
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content{
  flex: 1 1 auto;
}


/*As margin for fixed nav-bar*/
@media screen and (max-width: 500px) {
  .content {margin-top: 50px !important ;
  }
}

button {
   /* Size */
   width: 15.625rem;
   height: 4.063rem;
   /* Styling */

   border: 4px solid #FFFFFF;
   border-radius: 40px;
   background-color: transparent; /* Zero opacity fill */
   
   /* Text styling */
   font-family: var(--secondary-font);
   font-weight: 600;
   font-size: 1.5rem;
   align-items: center;
   justify-content: center;
   display: flex;
   margin: 0 auto;

}


button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Subtle hover effect */
  color: var(--link-hover-two) !important;
  border: 4px solid var(--link-hover-color)
}

button a {
 color: #FFFFFF  !important;
 text-decoration: none;
}

